<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Action</key>
		<integer>0</integer>
		<key>FacePart</key>
		<array>
			<dict>
				<key>Type</key>
				<string>IF</string>
			</dict>
			<dict>
				<key>GlossAlpha</key>
				<integer>100</integer>
				<key>LightAlpha</key>
				<integer>100</integer>
				<key>LightColorRGBA</key>
				<string>143,218,251,255</string>
				<key>LipstickMode</key>
				<integer>1</integer>
				<key>ORGBA</key>
				<string>70,215,63,86,255</string>
				<key>TeethWhiten</key>
				<integer>1</integer>
				<key>Type</key>
				<string>MPLIPSTICK</string>
				<key>WhitenDegree</key>
				<string>0.5;</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>4</integer>
				<key>ORGBA</key>
				<string>40,0,0,0,255</string>
				<key>Operation</key>
				<integer>1</integer>
				<key>Path</key>
				<string>802_by.png</string>
				<key>Rectangle</key>
				<string>357,448,306,603</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>4</integer>
				<key>ORGBA</key>
				<string>60,0,0,0,255</string>
				<key>Operation</key>
				<integer>0</integer>
				<key>Path</key>
				<string>802_sh.png</string>
				<key>Rectangle</key>
				<string>89,469,820,429</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>10</integer>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>50,0,0,0,255</string>
				<key>Operation</key>
				<integer>11</integer>
				<key>Path</key>
				<string>802_yyggy.png</string>
				<key>Rectangle</key>
				<string>575,460,155,133</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>10</integer>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>50,0,0,0,255</string>
				<key>Operation</key>
				<integer>10</integer>
				<key>Path</key>
				<string>802_yyggz.png</string>
				<key>Rectangle</key>
				<string>274,463,170,140</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>8</integer>
				<key>MUType</key>
				<integer>2</integer>
				<key>ORGBA</key>
				<string>50,0,0,0,255;</string>
				<key>Operation</key>
				<integer>0</integer>
				<key>Path</key>
				<string>802_mmz.png</string>
				<key>Rectangle</key>
				<string>188,409,269,122;</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>9</integer>
				<key>MUType</key>
				<integer>2</integer>
				<key>ORGBA</key>
				<string>50,0,0,0,255;</string>
				<key>Operation</key>
				<integer>1</integer>
				<key>Path</key>
				<string>802_mmy.png</string>
				<key>Rectangle</key>
				<string>546,404,269,122;</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>60,0,0,0,255</string>
				<key>Operation</key>
				<integer>11</integer>
				<key>Path</key>
				<string>802_yzy.png</string>
				<key>Rectangle</key>
				<string>520,405,280,222</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>60,0,0,0,255</string>
				<key>Operation</key>
				<integer>10</integer>
				<key>Path</key>
				<string>802_yzz.png</string>
				<key>Rectangle</key>
				<string>195,405,312,234</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>2</integer>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>1</integer>
				<key>ORGBA</key>
				<string>50,0,0,0,255</string>
				<key>Operation</key>
				<integer>0</integer>
				<key>Path</key>
				<string>662_zcgg.png</string>
				<key>Rectangle</key>
				<string>443,837,146,67</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>1</string>
				<key>FacemeshParameters</key>
				<string>1.00,0.70;</string>
				<key>FacemeshType</key>
				<integer>2198</integer>
				<key>LiftControlType</key>
				<integer>0</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.7</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>FacemeshParameters</key>
				<string>0.42,0.00,0.00,0.00,0.85,0.00,0.00,0.00,0.90,1.00,0.00,0.52,0.00,0.00,0.00,0.52,0.00,1.00,0.90,0.00,0.00,0.00,0.85,0.00,0.00,0.00,0.00,0.00,0.00,0.18,0.00,0.00,0.00,0.16,0.16,0.00,0.16,0.00,0.00,0.00,0.16,0.00,0.16,0.16,0.00,0.00,0.00,0.18,0.00,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2199</integer>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.53</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>FacemeshParameters</key>
				<string>0.8;</string>
				<key>FacemeshType</key>
				<integer>2400</integer>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.8</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>FacemeshParameters</key>
				<string>0.65;</string>
				<key>FacemeshType</key>
				<integer>2101</integer>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.65</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>ControlRange</key>
				<string>0.5,1.0</string>
				<key>FacemeshParameters</key>
				<string>0.50,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.-71,0.00,-0.80,0.00,0.-71,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.08,0.00,0.36,0.00,0.08,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2199</integer>
				<key>LiftControlType</key>
				<integer>2</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.45</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>ControlRange</key>
				<string>0.0,0.5</string>
				<key>FacemeshParameters</key>
				<string>0.50,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.57,0.00,1.00,0.00,0.57,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.22,0.00,0.25,0.00,0.22,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2199</integer>
				<key>LiftControlType</key>
				<integer>2</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.5,0.0</string>
			</dict>
		</array>
		<key>ID</key>
		<integer>802</integer>
		<key>Name</key>
		<string>Unknown</string>
		<key>Sound</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
