<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
			<dict>
				<key>FilterType</key>
				<string>4</string>
				<key>Gender</key>
				<string>F</string>
				<key>LocateMethod</key>
				<string>6</string>
				<key>MUType</key>
				<integer>3</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>ORGBA</key>
				<string>60,0,0,0,255</string>
				<key>Operation</key>
				<string>10</string>
				<key>Path</key>
				<string>EyeShadow/816_yzz.png</string>
				<key>Rectangle</key>
				<string>212,449,265,178</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>Gender</key>
				<string>F</string>
				<key>LocateMethod</key>
				<string>7</string>
				<key>MUType</key>
				<integer>3</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>ORGBA</key>
				<string>60,0,0,0,255</string>
				<key>Operation</key>
				<string>11</string>
				<key>Path</key>
				<string>EyeShadow/816_yzy.png</string>
				<key>Rectangle</key>
				<string>538,444,247,178</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<string>10</string>
				<key>Gender</key>
				<string>F</string>
				<key>LocateMethod</key>
				<string>6</string>
				<key>MUType</key>
				<integer>3</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>ORGBA</key>
				<string>70,0,0,0,255</string>
				<key>Operation</key>
				<string>10</string>
				<key>Path</key>
				<string>EyeShadow/816_yyggz.png</string>
				<key>Rectangle</key>
				<string>120,490,337,186</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>10</integer>
				<key>Gender</key>
				<string>F</string>
				<key>LocateMethod</key>
				<string>7</string>
				<key>MUType</key>
				<integer>3</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>ORGBA</key>
				<string>70,0,0,0,255</string>
				<key>Operation</key>
				<string>11</string>
				<key>Path</key>
				<string>EyeShadow/816_yyggy.png</string>
				<key>Rectangle</key>
				<string>558,485,319,175</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<string>4</string>
				<key>Gender</key>
				<string>M</string>
				<key>LocateMethod</key>
				<string>6</string>
				<key>MUType</key>
				<integer>3</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>ORGBA</key>
				<string>30,0,0,0,255</string>
				<key>Operation</key>
				<string>10</string>
				<key>Path</key>
				<string>EyeShadow/816_yzz.png</string>
				<key>Rectangle</key>
				<string>212,449,265,178</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>Gender</key>
				<string>M</string>
				<key>LocateMethod</key>
				<string>7</string>
				<key>MUType</key>
				<integer>3</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>ORGBA</key>
				<string>30,0,0,0,255</string>
				<key>Operation</key>
				<string>11</string>
				<key>Path</key>
				<string>EyeShadow/816_yzy.png</string>
				<key>Rectangle</key>
				<string>538,444,247,178</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<string>10</string>
				<key>Gender</key>
				<string>M</string>
				<key>LocateMethod</key>
				<string>6</string>
				<key>MUType</key>
				<integer>3</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>ORGBA</key>
				<string>30,0,0,0,255</string>
				<key>Operation</key>
				<string>10</string>
				<key>Path</key>
				<string>EyeShadow/816_yyggz.png</string>
				<key>Rectangle</key>
				<string>120,490,337,186</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>10</integer>
				<key>Gender</key>
				<string>M</string>
				<key>LocateMethod</key>
				<string>7</string>
				<key>MUType</key>
				<integer>3</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>ORGBA</key>
				<string>30,0,0,0,255</string>
				<key>Operation</key>
				<string>11</string>
				<key>Path</key>
				<string>EyeShadow/816_yyggy.png</string>
				<key>Rectangle</key>
				<string>558,485,319,175</string>
				<key>Type</key>
				<string>S</string>
			</dict>
		</array>
		<key>ID</key>
		<integer>200004</integer>
		<key>Name</key>
		<string>Unknown</string>
	</dict>
</array>
</plist>
