<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Action</key>
		<integer>0</integer>
		<key>FacePart</key>
		<array>
			<dict>
				<key>Type</key>
				<string>IF</string>
			</dict>
			<dict>
				<key>DefaultAlpha</key>
				<integer>70</integer>
				<key>FilterType</key>
				<integer>3</integer>
				<key>ID</key>
				<integer>40000</integer>
				<key>LocateMethod</key>
				<integer>9</integer>
				<key>MUType</key>
				<integer>2</integer>
				<key>ORGBA</key>
				<string>40,49,18,8,255;</string>
				<key>Operation</key>
				<integer>1</integer>
				<key>Path</key>
				<string>68_mm_you_1.png</string>
				<key>Rectangle</key>
				<string>550,419,246,79</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>DefaultAlpha</key>
				<integer>70</integer>
				<key>FilterType</key>
				<integer>3</integer>
				<key>ID</key>
				<integer>40000</integer>
				<key>LocateMethod</key>
				<integer>8</integer>
				<key>MUType</key>
				<integer>2</integer>
				<key>ORGBA</key>
				<string>40,49,18,8,255;</string>
				<key>Operation</key>
				<integer>0</integer>
				<key>Path</key>
				<string>68_mm_zuo_1.png</string>
				<key>Rectangle</key>
				<string>210,426,245,84</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>AddPath</key>
				<string>realtime_mouth_close.png</string>
				<key>AdditionalTexture</key>
				<string>803_z_lut.png</string>
				<key>FilterType</key>
				<integer>51</integer>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>1</integer>
				<key>ORGBA</key>
				<string>70,0,0,0,255</string>
				<key>Operation</key>
				<integer>0</integer>
				<key>Path</key>
				<string>realtime_mouth_open.png</string>
				<key>Rectangle</key>
				<string>360,792,291,132</string>
				<key>SupportOpenMouth</key>
				<integer>1</integer>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>AfterTrigger</key>
				<string>0</string>
				<key>AfterTriggerReset</key>
				<integer>0</integer>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<string>2</string>
				<key>MUType</key>
				<string>4</string>
				<key>ORGBA</key>
				<string>80,0,0,0,255</string>
				<key>Operation</key>
				<string>1</string>
				<key>Path</key>
				<string>804_by.png</string>
				<key>Rectangle</key>
				<string>347,465,323,220</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>AfterTrigger</key>
				<string>0</string>
				<key>AfterTriggerReset</key>
				<integer>0</integer>
				<key>FilterType</key>
				<string>6</string>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>4</integer>
				<key>ORGBA</key>
				<string>60,0,0,0,255</string>
				<key>Operation</key>
				<integer>1</integer>
				<key>Path</key>
				<string>804_gg.png</string>
				<key>Rectangle</key>
				<string>296,483,422,258</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>AfterTrigger</key>
				<string>0</string>
				<key>AfterTriggerReset</key>
				<integer>0</integer>
				<key>FilterType</key>
				<string>4</string>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>4</integer>
				<key>ORGBA</key>
				<string>80,0,0,0,255</string>
				<key>Operation</key>
				<string>0</string>
				<key>Path</key>
				<string>804_sh.png</string>
				<key>Rectangle</key>
				<string>0,409,999,461</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>AfterTrigger</key>
				<string>0</string>
				<key>AfterTriggerReset</key>
				<integer>0</integer>
				<key>FilterType</key>
				<string>4</string>
				<key>LocateMethod</key>
				<string>2</string>
				<key>MUType</key>
				<string>4</string>
				<key>ORGBA</key>
				<string>80,0,0,0,255</string>
				<key>Operation</key>
				<string>1</string>
				<key>Path</key>
				<string>804_xr.png</string>
				<key>Rectangle</key>
				<string>65,389,856,626</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>AfterTrigger</key>
				<string>0</string>
				<key>AfterTriggerReset</key>
				<integer>0</integer>
				<key>FilterType</key>
				<integer>10</integer>
				<key>LocateMethod</key>
				<string>7</string>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>70,0,0,0,255</string>
				<key>Operation</key>
				<string>11</string>
				<key>Path</key>
				<string>804_yyggy.png</string>
				<key>Rectangle</key>
				<string>535,530,151,94</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>AfterTrigger</key>
				<string>0</string>
				<key>AfterTriggerReset</key>
				<integer>0</integer>
				<key>FilterType</key>
				<string>10</string>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>70,0,0,0,255</string>
				<key>Operation</key>
				<string>10</string>
				<key>Path</key>
				<string>804_yyggz.png</string>
				<key>Rectangle</key>
				<string>323,535,163,95</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>AfterTrigger</key>
				<string>0</string>
				<key>AfterTriggerReset</key>
				<integer>0</integer>
				<key>FilterType</key>
				<string>4</string>
				<key>LocateMethod</key>
				<string>7</string>
				<key>MUType</key>
				<string>3</string>
				<key>ORGBA</key>
				<string>80,0,0,0,255</string>
				<key>Operation</key>
				<string>11</string>
				<key>Path</key>
				<string>804_yzy.png</string>
				<key>Rectangle</key>
				<string>543,456,275,172</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>AfterTrigger</key>
				<string>0</string>
				<key>AfterTriggerReset</key>
				<integer>0</integer>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<string>6</string>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>80,0,0,0,255</string>
				<key>Operation</key>
				<string>9</string>
				<key>Path</key>
				<string>804_yzz.png</string>
				<key>Rectangle</key>
				<string>177,462,300,173</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>1</string>
				<key>FacemeshParameters</key>
				<string>1.00,0.70;</string>
				<key>FacemeshType</key>
				<integer>2198</integer>
				<key>LiftControlType</key>
				<integer>0</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.7</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>FacemeshParameters</key>
				<string>0.42,0.00,0.00,0.00,0.85,0.00,0.00,0.00,0.90,1.00,0.00,0.52,0.00,0.00,0.00,0.52,0.00,1.00,0.90,0.00,0.00,0.00,0.85,0.00,0.00,0.00,0.00,0.00,0.00,0.18,0.00,0.00,0.00,0.16,0.16,0.00,0.16,0.00,0.00,0.00,0.16,0.00,0.16,0.16,0.00,0.00,0.00,0.18,0.00,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2199</integer>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.53</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>FacemeshParameters</key>
				<string>0.8;</string>
				<key>FacemeshType</key>
				<integer>2400</integer>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.8</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>FacemeshParameters</key>
				<string>0.65;</string>
				<key>FacemeshType</key>
				<integer>2101</integer>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.65</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>ControlRange</key>
				<string>0.5,1.0</string>
				<key>FacemeshParameters</key>
				<string>0.50,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.-71,0.00,-0.80,0.00,0.-71,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.08,0.00,0.36,0.00,0.08,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2199</integer>
				<key>LiftControlType</key>
				<integer>2</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.45</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>ControlRange</key>
				<string>0.0,0.5</string>
				<key>FacemeshParameters</key>
				<string>0.50,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.57,0.00,1.00,0.00,0.57,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.22,0.00,0.25,0.00,0.22,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2199</integer>
				<key>LiftControlType</key>
				<integer>2</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.5,0.0</string>
			</dict>
		</array>
		<key>ID</key>
		<integer>0</integer>
		<key>Name</key>
		<string>Unknown</string>
		<key>Sound</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
