<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<integer>305</integer>
		<key>Name</key>
		<string>MakingUp_305</string>
		<key>FrontLut</key>
		<string>Masks/305/305_first.png</string>
		<key>GlobalLut</key>
		<string>Masks/305/305_GlobalColor.png</string>
		<key>DefauleAlphaRange</key>
		<string>100,100;</string>
		<key>EyeBowAlphaRange</key>
		<string>0,100;</string>
		<key>EyeAlphaRange</key>
		<string>0,100;</string>
		<key>BlusherAlphaRange</key>
		<string>0,100;</string>
		<key>MouthAlphaRange</key>
		<string>0,100;</string>
		<key>BeautiAlphaRange</key>
		<string>80,80;</string>
		<key>EyeHoleAlphaRange</key>
		<string>10,60;</string>
		<key>EyeBowPoints</key>
		<string>234,483,255,459,297,442,343,442,384,445,440,475,270,470,301,467,339,474,382,483,570,476,600,443,657,438,706,436,746,445,777,470,617,475,663,468,702,461,728,458;</string>
		<key>FacePart</key>
		<array>
			<dict>
				<key>VscoPath</key>
				<string>Masks/305/14_z_lut.png</string>
				<key>ORGBA</key>
				<string>60,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>392,804,231,107;</string>
				<key>FilterType</key>
				<integer>14</integer>
				<key>MUType</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/305/zc.png</string>
				<key>ORGBA</key>
				<string>100,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>415,817,191,101;</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/305/zcgg.png</string>
				<key>ORGBA</key>
				<string>100,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>495,852,79,42;</string>
				<key>FilterType</key>
				<integer>9</integer>
				<key>MUType</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/305/z-yz.png</string>
				<key>ORGBA</key>
				<string>100,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>227,490,219,141;</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/305/305-y-yz.png</string>
				<key>ORGBA</key>
				<string>100,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>571,490,207,134;</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/305/305-z-yygg.png</string>
				<key>ORGBA</key>
				<string>60,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>299,468,167,169;</string>
				<key>FilterType</key>
				<integer>9</integer>
				<key>MUType</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/305/305-y-yygg.png</string>
				<key>ORGBA</key>
				<string>60,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>550,458,165,177;</string>
				<key>FilterType</key>
				<integer>9</integer>
				<key>MUType</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/305/305-z-mm.png</string>
				<key>ORGBA</key>
				<string>100,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>199,416,277,110;</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/305/305-y-mm.png</string>
				<key>ORGBA</key>
				<string>100,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>535,407,277,115;</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/305/305-sh.png</string>
				<key>ORGBA</key>
				<string>100,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>103,510,801,324;</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/305/305-by.png</string>
				<key>ORGBA</key>
				<string>100,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>359,428,293,377;</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>FaceMeshParameter</key>
				<string>0.190000</string>
				<key>FilterType</key>
				<integer>22</integer>
				<key>MUType</key>
				<integer>55</integer>
			</dict>
			<dict>
				<key>FaceMeshParameter</key>
				<string>0.900000</string>
				<key>FilterType</key>
				<integer>22</integer>
				<key>MUType</key>
				<integer>50</integer>
			</dict>
			<dict>
				<key>FaceMeshParameter</key>
				<string>0.810000</string>
				<key>FilterType</key>
				<integer>22</integer>
				<key>MUType</key>
				<integer>56</integer>
			</dict>
			<dict>
				<key>FaceMeshParameter</key>
				<string>0.000000,-0.300000,0.730000,0.190000,0.370000</string>
				<key>FilterType</key>
				<integer>22</integer>
				<key>MUType</key>
				<integer>62</integer>
			</dict>
			<dict>
				<key>FaceMeshParameter</key>
				<string>0.440000,-0.240000,0.540000</string>
				<key>FilterType</key>
				<integer>22</integer>
				<key>MUType</key>
				<integer>57</integer>
			</dict>
			<dict>
				<key>FaceMeshParameter</key>
				<string>1.000000</string>
				<key>FilterType</key>
				<integer>22</integer>
				<key>MUType</key>
				<integer>63</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/305/305-mt.png</string>
				<key>ORGBA</key>
				<string>92,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>0,0,50,50;</string>
				<key>FilterType</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/305/305_sc.png</string>
				<key>ORGBA</key>
				<string>100,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>1,16,997,1168;</string>
				<key>FilterType</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>75</integer>
				<key>Parameter</key>
				<integer>9</integer>
				<key>FaceMeshParameter</key>
				<string>10.0</string>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/305/305_aj.png</string>
				<key>ORGBA</key>
				<string>100,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>0,0,1000,1500;</string>
				<key>FilterType</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>75</integer>
				<key>Parameter</key>
				<integer>7</integer>
				<key>FaceMeshParameter</key>
				<string>60.0</string>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/305/305_aj.png</string>
				<key>ORGBA</key>
				<string>30,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>0,0,1000,1500;</string>
				<key>FilterType</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>75</integer>
				<key>Parameter</key>
				<integer>7</integer>
				<key>FaceMeshParameter</key>
				<string>60.0</string>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/301/watermark_zh.png</string>
				<key>ORGBA</key>
				<string>100,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>0,0,221,211;</string>
				<key>FilterType</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>24</integer>
				<key>Parameter</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>309</integer>
		<key>Name</key>
		<string>MakingUp_309</string>
		<key>FrontLut</key>
		<string>Masks/309/309_first.png</string>
		<key>GlobalLut</key>
		<string>Masks/309/309_GlobalColor.png</string>
		<key>DefauleAlphaRange</key>
		<string>100,100;</string>
		<key>EyeBowAlphaRange</key>
		<string>0,100;</string>
		<key>EyeAlphaRange</key>
		<string>0,100;</string>
		<key>BlusherAlphaRange</key>
		<string>0,100;</string>
		<key>MouthAlphaRange</key>
		<string>0,100;</string>
		<key>BeautiAlphaRange</key>
		<string>80,80;</string>
		<key>EyeHoleAlphaRange</key>
		<string>10,60;</string>
		<key>EyeBowPoints</key>
		<string>235,485,254,458,298,447,341,442,386,450,427,483,271,473,302,469,338,473,381,475,577,479,601,445,658,436,708,438,745,453,773,478,615,470,663,464,700,461,729,463;</string>
		<key>FacePart</key>
		<array>
			<dict>
				<key>VscoPath</key>
				<string>Masks/309/68_z_lut.png</string>
				<key>ORGBA</key>
				<string>60,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>392,804,231,107;</string>
				<key>FilterType</key>
				<integer>14</integer>
				<key>MUType</key>
				<integer>70</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/309/309_zc.png</string>
				<key>ORGBA</key>
				<string>40,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>415,817,191,101;</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/309/309_zcgg.png</string>
				<key>ORGBA</key>
				<string>100,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>495,852,79,42;</string>
				<key>FilterType</key>
				<integer>9</integer>
				<key>MUType</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/309/309_y_yz.png</string>
				<key>ORGBA</key>
				<string>80,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>565,435,233,213;</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/309/309_z_yz.png</string>
				<key>ORGBA</key>
				<string>80,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>207,435,248,227;</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/309/309_z-yygg.png</string>
				<key>ORGBA</key>
				<string>100,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>299,468,147,138;</string>
				<key>FilterType</key>
				<integer>9</integer>
				<key>MUType</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/309/309_y_yygg.png</string>
				<key>ORGBA</key>
				<string>100,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>569,465,141,132;</string>
				<key>FilterType</key>
				<integer>9</integer>
				<key>MUType</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/309/309_z_mm.png</string>
				<key>ORGBA</key>
				<string>100,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>203,416,272,110;</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/309/309_y_mm.png</string>
				<key>ORGBA</key>
				<string>100,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>530,408,272,110;</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/309/309_sh_final.png</string>
				<key>ORGBA</key>
				<string>100,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>133,307,748,494;</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>85</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/309/309_b_gg.png</string>
				<key>ORGBA</key>
				<string>60,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>481,527,57,198;</string>
				<key>FilterType</key>
				<integer>9</integer>
				<key>MUType</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>FaceMeshParameter</key>
				<string>0.700000</string>
				<key>FilterType</key>
				<integer>22</integer>
				<key>MUType</key>
				<integer>55</integer>
			</dict>
			<dict>
				<key>FaceMeshParameter</key>
				<string>0.470000</string>
				<key>FilterType</key>
				<integer>22</integer>
				<key>MUType</key>
				<integer>50</integer>
			</dict>
			<dict>
				<key>FaceMeshParameter</key>
				<string>0.610000</string>
				<key>FilterType</key>
				<integer>22</integer>
				<key>MUType</key>
				<integer>56</integer>
			</dict>
			<dict>
				<key>FaceMeshParameter</key>
				<string>0.800000,0.000000,0.000000,0.000000,0.000000</string>
				<key>FilterType</key>
				<integer>22</integer>
				<key>MUType</key>
				<integer>72</integer>
			</dict>
			<dict>
				<key>FaceMeshParameter</key>
				<string>0.500000,-0.450000,0.000000</string>
				<key>FilterType</key>
				<integer>22</integer>
				<key>MUType</key>
				<integer>57</integer>
			</dict>
			<dict>
				<key>FaceMeshParameter</key>
				<string>0.99000,0.0,0.0</string>
				<key>FilterType</key>
				<integer>22</integer>
				<key>MUType</key>
				<integer>77</integer>
			</dict>
			<dict>
				<key>FaceMeshParameter</key>
				<string>0.680000</string>
				<key>FilterType</key>
				<integer>22</integer>
				<key>MUType</key>
				<integer>63</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/309/309_mt.png</string>
				<key>ORGBA</key>
				<string>90,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>0,0,50,50;</string>
				<key>FilterType</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/309/309_mt.png</string>
				<key>ORGBA</key>
				<string>90,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>0,0,50,50;</string>
				<key>FilterType</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/309/309_sllsc.png</string>
				<key>ORGBA</key>
				<string>100,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>19,369,980,371;</string>
				<key>FilterType</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>78</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/309/309_ylyznew.png</string>
				<key>ORGBA</key>
				<string>100,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>209,478,592,155;</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>78</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/309/309_yl_final.png</string>
				<key>ORGBA</key>
				<string>100,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>158,446,693,216;</string>
				<key>FilterType</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>78</integer>
			</dict>
			<dict>
				<key>MaskPath</key>
				<string>Masks/301/watermark_zh.png</string>
				<key>ORGBA</key>
				<string>100,0,0,0,255;</string>
				<key>Rectangle</key>
				<string>0,0,221,211;</string>
				<key>FilterType</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>24</integer>
				<key>Parameter</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>0</integer>
		<key>Name</key>
		<string>None</string>
	</dict>
</array>
</plist>
