<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Lang</key>
		<array>
			<dict>
				<key>lang_key</key>
				<string>en</string>
				<key>name</key>
				<string>Comic</string>
			</dict>
			<dict>
				<key>lang_key</key>
				<string>zh</string>
				<key>name</key>
				<string>Comic</string>
			</dict>
			<dict>
				<key>lang_key</key>
				<string>tw</string>
				<key>name</key>
				<string>Comic</string>
			</dict>
		</array>
		<key>LineColor</key>
		<string>#ffffff</string>
		<key>TextColor</key>
		<string>#ffffff</string>
		<key>Filters</key>
		<array>
			<dict>
				<key>FilterIndex</key>
				<integer>0</integer>
				<key>GLFilterIndex</key>
				<integer>0</integer>
				<key>Lang</key>
				<array>
					<dict>
						<key>lang_key</key>
						<string>en</string>
						<key>name</key>
						<string>Original</string>
					</dict>
					<dict>
						<key>lang_key</key>
						<string>zh</string>
						<key>name</key>
						<string>原图</string>
					</dict>
					<dict>
						<key>lang_key</key>
						<string>tw</string>
						<key>name</key>
						<string>原圖</string>
					</dict>
				</array>
				<key>FilterAlpha</key>
				<integer>80</integer>
				<key>BeautyAlpha</key>
				<integer>60</integer>
				<key>AnjiaoType</key>
				<integer>13</integer>
				<key>AnjiaoAlpha</key>
				<integer>80</integer>
				<key>PreviewRes</key>
				<string>selfie/comic_thumb/comic_0.jpg</string>
				<key>SelectedColor</key>
				<string>#bebebe</string>
				<key>Weight</key>
				<integer>0</integer>
				<key>StaticsID</key>
				<string>01260100</string>
			</dict>
			<dict>
				<key>FilterIndex</key>
				<integer>305</integer>
				<key>GLFilterIndex</key>
				<integer>305</integer>
				<key>Lang</key>
				<array>
					<dict>
						<key>lang_key</key>
						<string>en</string>
						<key>name</key>
						<string>Usagi</string>
					</dict>
					<dict>
						<key>lang_key</key>
						<string>zh</string>
						<key>name</key>
						<string>水冰月</string>
					</dict>
					<dict>
						<key>lang_key</key>
						<string>tw</string>
						<key>name</key>
						<string>花漾</string>
					</dict>
				</array>
				<key>FilterAlpha</key>
				<integer>80</integer>
				<key>BeautyAlpha</key>
				<integer>35</integer>
				<key>AnjiaoType</key>
				<integer>13</integer>
				<key>AnjiaoAlpha</key>
				<integer>80</integer>
				<key>PreviewRes</key>
				<string>selfie/comic_thumb/comic_305.jpg</string>
				<key>SelectedColor</key>
				<string>#fd6c97</string>
				<key>Weight</key>
				<integer>3</integer>
				<key>StaticsID</key>
				<string>01260102</string>
			</dict>
			<dict>
				<key>FilterIndex</key>
				<integer>309</integer>
				<key>GLFilterIndex</key>
				<integer>309</integer>
				<key>Lang</key>
				<array>
					<dict>
						<key>lang_key</key>
						<string>en</string>
						<key>name</key>
						<string>Weepy</string>
					</dict>
					<dict>
						<key>lang_key</key>
						<string>zh</string>
						<key>name</key>
						<string>爱哭鬼</string>
					</dict>
					<dict>
						<key>lang_key</key>
						<string>tw</string>
						<key>name</key>
						<string>愛哭包</string>
					</dict>
				</array>
				<key>FilterAlpha</key>
				<integer>90</integer>
				<key>BeautyAlpha</key>
				<integer>35</integer>
				<key>AnjiaoType</key>
				<integer>13</integer>
				<key>AnjiaoAlpha</key>
				<integer>80</integer>
				<key>PreviewRes</key>
				<string>selfie/comic_thumb/comic_309.jpg</string>
				<key>SelectedColor</key>
				<string>#ff8c53</string>
				<key>Weight</key>
				<integer>3</integer>
				<key>StaticsID</key>
				<string>01260101</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
