<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
			<!-- 女-->
			<!-- 眼影 -->
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>Path</key>
				<string>EyeShadow/804_yzz.png</string>
				<key>ORGBA</key>
				<string>80,78,30,28,255</string>
				<key>Rectangle</key>
				<string>177,462,300,173</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>12</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>Gender</key>
				<string>F</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>Path</key>
				<string>EyeShadow/804_yzy.png</string>
				<key>ORGBA</key>
				<string>80,78,30,28,255</string>
				<key>Rectangle</key>
				<string>543,456,275,172</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>13</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>Gender</key>
				<string>F</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>Path</key>
				<string>EyeShadow/804_yyggz.png</string>
				<key>ORGBA</key>
				<string>80,78,30,28,255</string>
				<key>Rectangle</key>
				<string>177,462,300,173</string>
				<key>FilterType</key>
				<integer>10</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>12</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>Gender</key>
				<string>F</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>Path</key>
				<string>EyeShadow/804_yyggy.png</string>
				<key>ORGBA</key>
				<string>80,78,30,28,255</string>
				<key>Rectangle</key>
				<string>543,456,275,172</string>
				<key>FilterType</key>
				<integer>10</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>13</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>Gender</key>
				<string>F</string>
			</dict>
			<!-- 男-->
			<!-- 眼影 -->
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>Path</key>
				<string>EyeShadow/804_yzz.png</string>
				<key>ORGBA</key>
				<string>30,78,30,28,255</string>
				<key>Rectangle</key>
				<string>177,462,300,173</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>12</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>Gender</key>
				<string>M</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>Path</key>
				<string>EyeShadow/804_yzy.png</string>
				<key>ORGBA</key>
				<string>30,78,30,28,255</string>
				<key>Rectangle</key>
				<string>543,456,275,172</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>13</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>Gender</key>
				<string>M</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>Path</key>
				<string>EyeShadow/804_yyggz.png</string>
				<key>ORGBA</key>
				<string>30,78,30,28,255</string>
				<key>Rectangle</key>
				<string>177,462,300,173</string>
				<key>FilterType</key>
				<integer>10</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>12</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>Gender</key>
				<string>M</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>Path</key>
				<string>EyeShadow/804_yyggy.png</string>
				<key>ORGBA</key>
				<string>30,78,30,28,255</string>
				<key>Rectangle</key>
				<string>543,456,275,172</string>
				<key>FilterType</key>
				<integer>10</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>13</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>Gender</key>
				<string>M</string>
			</dict>
		</array>
		<key>ID</key>
		<integer>200004</integer>
		<key>Name</key>
		<string>Unknown</string>
	</dict>
</array>
</plist>
