<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Action</key>
		<integer>0</integer>
		<key>BeautyAlpha_Android</key>
		<integer>20</integer>
		<key>BeautyAlpha_iOS</key>
		<integer>80</integer>
		<key>FacePart</key>
		<array>
			<dict>
				<key>Type</key>
				<string>IF</string>
			</dict>
			<dict>
				<key>AdditionalTexture</key>
				<string>53_z_lut.png</string>
				<key>FilterType</key>
				<integer>52</integer>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>1</integer>
				<key>ORGBA</key>
				<string>25,0,0,0,255</string>
				<key>Operation</key>
				<integer>0</integer>
				<key>Rectangle</key>
				<string>360,792,291,132</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>4</integer>
				<key>ORGBA</key>
				<string>100,0,0,0,255</string>
				<key>Operation</key>
				<integer>1</integer>
				<key>Path</key>
				<string>631_by.png</string>
				<key>Rectangle</key>
				<string>372,462,262,313</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<string>10</string>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>MUType</key>
				<string>1</string>
				<key>ORGBA</key>
				<string>40,0,0,0,255</string>
				<key>Operation</key>
				<integer>0</integer>
				<key>Path</key>
				<string>645_zcgg.png</string>
				<key>Rectangle</key>
				<string>420,848,145,46</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>4</integer>
				<key>ORGBA</key>
				<string>50,0,0,0,255</string>
				<key>Operation</key>
				<integer>0</integer>
				<key>Path</key>
				<string>645_sh.png</string>
				<key>Rectangle</key>
				<string>136,447,738,383</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>40,0,0,0,255</string>
				<key>Operation</key>
				<integer>10</integer>
				<key>Path</key>
				<string>645_yyz.png</string>
				<key>Rectangle</key>
				<string>221,458,246,179</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>40,0,0,0,255</string>
				<key>Operation</key>
				<integer>11</integer>
				<key>Path</key>
				<string>645_yyy.png</string>
				<key>Rectangle</key>
				<string>546,458,240,179</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>10</integer>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>50,0,0,0,255</string>
				<key>Operation</key>
				<integer>11</integer>
				<key>Path</key>
				<string>645_yyggy.png</string>
				<key>Rectangle</key>
				<string>574,495,140,94</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>10</integer>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>50,0,0,0,255</string>
				<key>Operation</key>
				<integer>10</integer>
				<key>Path</key>
				<string>645_yyggz.png</string>
				<key>Rectangle</key>
				<string>297,499,140,95</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>8</integer>
				<key>MUType</key>
				<integer>2</integer>
				<key>ORGBA</key>
				<string>35,0,0,0,255</string>
				<key>Operation</key>
				<integer>0</integer>
				<key>Path</key>
				<string>807_mmz.png</string>
				<key>Rectangle</key>
				<string>198,422,270,92</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>9</integer>
				<key>MUType</key>
				<integer>2</integer>
				<key>ORGBA</key>
				<string>35,0,0,0,255</string>
				<key>Operation</key>
				<integer>1</integer>
				<key>Path</key>
				<string>807_mmy.png</string>
				<key>Rectangle</key>
				<string>534,415,270,92</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FacemeshParameters</key>
				<string>0.25,0.00,0.00,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2108</integer>
				<key>Type</key>
				<string>Facelift</string>
			</dict>
			<dict>
				<key>FacemeshParameters</key>
				<string>0.30,0.40,0.00,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2110</integer>
				<key>Type</key>
				<string>Facelift</string>
			</dict>
		</array>
		<key>MakeupAlpha</key>
		<integer>100</integer>
	</dict>
</array>
</plist>
