<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Action</key>
		<integer>0</integer>
		<key>FacePart</key>
		<array>
			<dict>
				<key>Type</key>
				<string>IF</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0,1</string>
				<key>FacemeshParameters</key>
				<string>0.25,0.45,0.00,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2108</integer>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.25,0.0,0.45</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>2</string>
				<key>FacemeshParameters</key>
				<string>0.00,0.00,0.10,0.00;</string>
				<key>FacemeshType</key>
				<integer>2109</integer>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,-0.08</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0,1,2,4</string>
				<key>FacemeshParameters</key>
				<string>0.35,0.34,0.13,0.00,0.18;</string>
				<key>FacemeshType</key>
				<integer>2110</integer>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.35,0.0,0.35,0.0,0.20,0.0,0.20</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>FacemeshParameters</key>
				<string>0.70,0.19,0.51,0.00,0.35,0.28,0.18,0.04,0.06,0.07,0.06,0.08,-0.04;</string>
				<key>FacemeshType</key>
				<integer>2195</integer>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.70</string>
			</dict>
		</array>
		<key>ID</key>
		<integer>300005</integer>
		<key>Name</key>
		<string>pig</string>
		<key>Sound</key>
		<integer>0</integer>
		<key>SpecialFacelift</key>
		<string>1</string>
	</dict>
</array>
</plist>
