<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
			<!-- 腮红 橘: 100,255,134,106,255; 粉: 100,255,116,178,255;-->
			<!-- 女-->
			<dict>
				<key>FilterType</key>
				<string>4</string>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>4</integer>
				<key>ORGBA</key>
				<string>80,0,0,0,255</string>
				<key>Operation</key>
				<string>0</string>
				<key>Path</key>
				<string>Blusher/804_sh.png</string>
				<key>Rectangle</key>
				<string>0,409,999,461</string>
				<key>Type</key>
				<string>S</string>
				<key>MakeupCustomName</key>
				<string>MUFACE_CHEEK</string>
				<key>Gender</key>
				<string>F</string>
			</dict>
			<!-- 男-->
			<dict>
				<key>FilterType</key>
				<string>4</string>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>4</integer>
				<key>ORGBA</key>
				<string>40,0,0,0,255</string>
				<key>Operation</key>
				<string>0</string>
				<key>Path</key>
				<string>Blusher/804_sh.png</string>
				<key>Rectangle</key>
				<string>0,409,999,461</string>
				<key>Type</key>
				<string>S</string>
				<key>MakeupCustomName</key>
				<string>MUFACE_CHEEK</string>
				<key>Gender</key>
				<string>M</string>
			</dict>
		</array>
		<key>ID</key>
		<integer>200004</integer>
		<key>Name</key>
		<string>Unknown</string>
	</dict>
</array>
</plist>
