<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
			<dict>
				<key>DefaultAlpha</key>
				<integer>70</integer>
				<key>FilterType</key>
				<integer>3</integer>
				<key>Gender</key>
				<string>F</string>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYELINER</string>
				<key>ORGBA</key>
				<string>50,11,1,0,255;</string>
				<key>Operation</key>
				<integer>12</integer>
				<key>Path</key>
				<string>EyeLiner/5_left.png</string>
				<key>Rectangle</key>
				<string>234,454,180,169</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>DefaultAlpha</key>
				<integer>70</integer>
				<key>FilterType</key>
				<integer>3</integer>
				<key>Gender</key>
				<string>F</string>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYELINER</string>
				<key>ORGBA</key>
				<string>50,11,1,0,255;</string>
				<key>Operation</key>
				<integer>13</integer>
				<key>Path</key>
				<string>EyeLiner/5_right.png</string>
				<key>Rectangle</key>
				<string>591,450,169,163</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>DefaultAlpha</key>
				<integer>70</integer>
				<key>FilterType</key>
				<integer>3</integer>
				<key>Gender</key>
				<string>M</string>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYELINER</string>
				<key>ORGBA</key>
				<string>20,11,1,0,255;</string>
				<key>Operation</key>
				<integer>12</integer>
				<key>Path</key>
				<string>EyeLiner/5_left.png</string>
				<key>Rectangle</key>
				<string>234,454,180,169</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>DefaultAlpha</key>
				<integer>70</integer>
				<key>FilterType</key>
				<integer>3</integer>
				<key>Gender</key>
				<string>M</string>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYELINER</string>
				<key>ORGBA</key>
				<string>20,11,1,0,255;</string>
				<key>Operation</key>
				<integer>13</integer>
				<key>Path</key>
				<string>EyeLiner/5_right.png</string>
				<key>Rectangle</key>
				<string>591,450,169,163</string>
				<key>Type</key>
				<string>S</string>
			</dict>
		</array>
		<key>ID</key>
		<integer>200004</integer>
		<key>Name</key>
		<string>Unknown</string>
	</dict>
</array>
</plist>
