<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>4</integer>
				<key>ORGBA</key>
				<string>15,0,0,0,255;</string>
				<key>Operation</key>
				<integer>12</integer>
				<key>Path</key>
				<string>my_sh.png</string>
				<key>Rectangle</key>
				<string>124,508,755,352;</string>
				<key>Type</key>
				<string>S</string>
				<key>Gender</key>
				<string>F</string>
			</dict>
			<dict>
				<key>AddPath</key>
				<string>realtime_mouth_close.png</string>
				<key>AdditionalTexture</key>
				<string>13_z_lut.png</string>
				<key>FilterType</key>
				<integer>51</integer>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>1</integer>
				<key>ORGBA</key>
				<string>15,0,0,0,255</string>
				<key>Operation</key>
				<integer>0</integer>
				<key>Path</key>
				<string>realtime_mouth_open.png</string>
				<key>Rectangle</key>
				<string>360,792,291,132</string>
				<key>SupportOpenMouth</key>
				<integer>1</integer>
				<key>Type</key>
				<string>S</string>
				<key>Gender</key>
				<string>F</string>
			</dict>
			<!-- 女 -->
			<!-- 小脸 -->
			<dict>
					<key>Type</key><string>Facelift</string>
					<key>FacemeshType</key><integer>2400</integer>
					<key>FacemeshParameters</key><string>1.00;</string>
					<key>ControlPosition</key><string>0</string>
					<key>LiftControlType</key><integer>12</integer>
					<key>ValueRange</key><string>0.0,1.0</string>
					<key>Gender</key>
				<string>F</string>
			</dict>
			<!-- 缩脸 -->
			<dict>
					<key>Type</key>
					<string>Facelift</string>
					<key>FacemeshType</key>
					<integer>2199</integer>
					<key>FacemeshParameters</key>
					<string>0.60,0.85,-0.02,0.00,0.57,0.00,0.65,0.00,0.60,0.00,0.76,0.49,-0.01,-0.01,-0.01,0.49,0.76,0.00,0.60,0.00,0.65,0.00,0.57,0.00,-0.02,0.85,0.35,0.39,0.45,0.21,0.19,0.23,0.00,0.29,0.00,0.11,0.24,0.17,0.00,0.17,0.24,0.11,0.00,0.29,0.00,0.23,0.19,0.21,0.45,0.39,0.35;</string>
					<key>ControlPosition</key><string>0</string>
					<key>LiftControlType</key><integer>11</integer>
					<key>ValueRange</key><string>0.0,0.6</string>
					<key>Gender</key>
				<string>F</string>
			</dict>
			<!-- 眼睛 大眼0 眼距3 眼角9-->
			<dict>
					<key>Type</key><string>Facelift</string>
					<key>FacemeshType</key><integer>2108</integer>
					<key>FacemeshParameters</key><string>1.00,0.00,0.00,0.00,0.00;</string>
					<key>ControlPosition</key><string>0,1; 3; 2;</string>
					<key>LiftControlType</key><integer>0, 8, 9</integer>
					<key>ValueRange</key><string>0.0,1.0,0.0,1.0; 0.6,-0.6; 0.0,-1.0;</string>
					<key>Gender</key>
					<string>F</string>
			</dict>
			<!-- 鼻子 缩鼻3 长鼻10-->
			<dict>
				<key>FacemeshParameters</key>
				<string>0.0,0.0,0.00,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2110</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ControlPosition</key><string>0; 3</string>
				<key>LiftControlType</key><integer>3, 10</integer>
				<key>ValueRange</key><string>0.0,1.0; 0.0,1.0;</string>
				<key>Gender</key>
				<string>F</string>
			</dict>
			<!-- 额头 -->
			<dict>
				<key>FacemeshParameters</key>
				<string>0.0;</string>
				<key>FacemeshType</key>
				<integer>2111</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ControlPosition</key><string>0</string>
				<key>LiftControlType</key><integer>13</integer>
				<key>ValueRange</key><string>-1.0,1.0</string>
				<key>Gender</key>
				<string>F</string>
			</dict>
			<!-- 嘴型 -->
			<dict>
				<key>FacemeshParameters</key>
				<string>0.0,0.0,0.0,0.0;</string>
				<key>FacemeshType</key>
				<integer>2109</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ControlPosition</key><string>0</string>
				<key>LiftControlType</key><integer>4</integer>
				<key>ValueRange</key><string>1.0,-1.0</string>
				<key>Gender</key>
				<string>F</string>
			</dict>
			<!-- 下巴 -->
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>ControlRange</key>
				<string>0.5,1.0</string>
				<key>LiftControlType</key>
				<integer>2</integer>
				<key>FacemeshParameters</key>
				<string>0.50,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.-71,0.00,-0.80,0.00,0.-71,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.08,0.00,0.36,0.00,0.08,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2199</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.45</string>
				<key>Gender</key>
				<string>F</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>ControlRange</key>
				<string>0.0,0.5</string>
				<key>LiftControlType</key>
				<integer>2</integer>
				<key>FacemeshParameters</key>
				<string>0.50,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.57,0.00,1.00,0.00,0.57,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.22,0.00,0.25,0.00,0.22,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2199</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.5,0.0</string>
				<key>Gender</key>
				<string>F</string>
			</dict>
			<!-- 瘦脸 -->
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>FacemeshParameters</key>
				<string>0.45,0.00;</string>
				<key>FacemeshType</key>
				<integer>2105</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.45</string>
				<key>Gender</key>
				<string>F</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0,1,2</string>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>FacemeshParameters</key>
				<string>0.45,0.32,0.50,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2110</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.45,0.0,0.32,0.0,0.50</string>
				<key>Gender</key>
				<string>F</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>FacemeshParameters</key>
				<string>0.60,0.00,0.74,0.75,0.34,0.62,0.54,0.45,0.52,0.59,0.45,0.31,0.38,0.32,0.38,0.31,0.45,0.59,0.52,0.45,0.54,0.62,0.34,0.75,0.74,0.00,0.00,0.11,0.17,0.17,0.26,0.11,0.08,0.32,0.11,0.35,0.34,0.18,-0.05,0.18,0.34,0.35,0.11,0.32,0.08,0.11,0.26,0.17,0.17,0.11,0.00;</string>
				<key>FacemeshType</key>
				<integer>2199</integer>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.60</string>
				<key>Gender</key>
				<string>F</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>FacemeshParameters</key>
				<string>0.20</string>
				<key>FacemeshType</key>
				<integer>2400</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.20</string>
				<key>Gender</key>
				<string>F</string>
			</dict>
			<!-- 男 -->
			<!-- 小脸 -->
			<dict>
					<key>Type</key><string>Facelift</string>
					<key>FacemeshType</key><integer>2400</integer>
					<key>FacemeshParameters</key><string>1.00;</string>
					<key>ControlPosition</key><string>0</string>
					<key>LiftControlType</key><integer>12</integer>
					<key>ValueRange</key><string>0.0,0.5</string>
					<key>Gender</key>
				<string>M</string>
			</dict>
			<!-- 缩脸 -->
			<dict>
					<key>Type</key>
					<string>Facelift</string>
					<key>FacemeshType</key>
					<integer>2199</integer>
					<key>FacemeshParameters</key>
					<string>0.60,0.85,-0.02,0.00,0.57,0.00,0.65,0.00,0.60,0.00,0.76,0.49,-0.01,-0.01,-0.01,0.49,0.76,0.00,0.60,0.00,0.65,0.00,0.57,0.00,-0.02,0.85,0.35,0.39,0.45,0.21,0.19,0.23,0.00,0.29,0.00,0.11,0.24,0.17,0.00,0.17,0.24,0.11,0.00,0.29,0.00,0.23,0.19,0.21,0.45,0.39,0.35;</string>
					<key>ControlPosition</key><string>0</string>
					<key>LiftControlType</key><integer>11</integer>
					<key>ValueRange</key><string>0.0,0.3</string>
					<key>Gender</key>
				<string>M</string>
			</dict>
			<!-- 眼睛 大眼0 眼距3 眼角9-->
			<dict>
					<key>Type</key><string>Facelift</string>
					<key>FacemeshType</key><integer>2108</integer>
					<key>FacemeshParameters</key><string>1.00,0.00,0.00,0.00,0.00;</string>
					<key>ControlPosition</key><string>0,1; 3; 2;</string>
					<key>LiftControlType</key><integer>0, 8, 9</integer>
					<key>ValueRange</key><string>0.0,0.75,0.0,0.75; 1.0,-1.0; 0.0,-1.0;</string>
					<key>Gender</key>
					<string>M</string>
			</dict>
			<!-- 鼻子 缩鼻3 长鼻10-->
			<dict>
				<key>FacemeshParameters</key>
				<string>0.0,0.0,0.00,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2110</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ControlPosition</key><string>0; 3</string>
				<key>LiftControlType</key><integer>3, 10</integer>
				<key>ValueRange</key><string>0.0,0.5; 0.0,1.0;</string>
				<key>Gender</key>
				<string>M</string>
			</dict>
			<!-- 额头 -->
			<dict>
				<key>FacemeshParameters</key>
				<string>0.0;</string>
				<key>FacemeshType</key>
				<integer>2111</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ControlPosition</key><string>0</string>
				<key>LiftControlType</key><integer>13</integer>
				<key>ValueRange</key><string>-1.0,1.0</string>
				<key>Gender</key>
				<string>M</string>
			</dict>
			<!-- 嘴型 -->
			<dict>
				<key>FacemeshParameters</key>
				<string>0.0,0.0,0.0,0.0;</string>
				<key>FacemeshType</key>
				<integer>2109</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ControlPosition</key><string>0</string>
				<key>LiftControlType</key><integer>4</integer>
				<key>ValueRange</key><string>1.0,-1.0</string>
				<key>Gender</key>
				<string>M</string>
			</dict>
			<!-- 下巴 -->
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>ControlRange</key>
				<string>0.5,1.0</string>
				<key>LiftControlType</key>
				<integer>2</integer>
				<key>FacemeshParameters</key>
				<string>0.50,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.-71,0.00,-0.80,0.00,0.-71,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.08,0.00,0.36,0.00,0.08,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2199</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.45</string>
				<key>Gender</key>
				<string>M</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>ControlRange</key>
				<string>0.0,0.5</string>
				<key>LiftControlType</key>
				<integer>2</integer>
				<key>FacemeshParameters</key>
				<string>0.50,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.57,0.00,1.00,0.00,0.57,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.22,0.00,0.25,0.00,0.22,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2199</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.5,0.0</string>
				<key>Gender</key>
				<string>M</string>
			</dict>
			<!-- 瘦脸 -->
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>FacemeshParameters</key>
				<string>0.45,0.00;</string>
				<key>FacemeshType</key>
				<integer>2105</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.27</string>
				<key>Gender</key>
				<string>M</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0,1,2</string>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>FacemeshParameters</key>
				<string>0.45,0.32,0.50,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2110</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.27,0.0,0.192,0.0,0.30</string>
				<key>Gender</key>
				<string>M</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>FacemeshParameters</key>
				<string>0.60,0.00,0.74,0.75,0.34,0.62,0.54,0.45,0.52,0.59,0.45,0.31,0.38,0.32,0.38,0.31,0.45,0.59,0.52,0.45,0.54,0.62,0.34,0.75,0.74,0.00,0.00,0.11,0.17,0.17,0.26,0.11,0.08,0.32,0.11,0.35,0.34,0.18,-0.05,0.18,0.34,0.35,0.11,0.32,0.08,0.11,0.26,0.17,0.17,0.11,0.00;</string>
				<key>FacemeshType</key>
				<integer>2199</integer>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.36</string>
				<key>Gender</key>
				<string>M</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>FacemeshParameters</key>
				<string>0.20</string>
				<key>FacemeshType</key>
				<integer>2400</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.12</string>
				<key>Gender</key>
				<string>M</string>
			</dict>
		</array>
		<key>ID</key>
		<integer>200004</integer>
		<key>Name</key>
		<string>Unknown</string>
	</dict>
</array>
</plist>
