<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilterPart</key>
	<array>
		<dict>
			<key>MaterialFile</key>
			<string>1113.png</string>
			<key>Type</key>
			<string>Defocus</string>
			<key>gamma</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>Alpha</key>
			<string>1.000000</string>
			<key>LutPath</key>
			<string>1354_1.png</string>
			<key>Size</key>
			<integer>16</integer>
			<key>Type</key>
			<string>Mapy</string>
		</dict>
		<dict>
			<key>Alpha</key>
			<real>1</real>
			<key>BlendFile</key>
			<string>PSMultiply100.png</string>
			<key>CoverType</key>
			<integer>2</integer>
			<key>CutType</key>
			<integer>10</integer>
			<key>PicType</key>
			<dict>
				<key>MaterialFile</key>
				<string>sc1.png</string>
				<key>MaterialFile_vertical</key>
				<string></string>
				<key>PicType</key>
				<integer>0</integer>
			</dict>
			<key>RecognizeType</key>
			<integer>0</integer>
			<key>Type</key>
			<string>MaterialAdapt</string>
		</dict>
		<dict>
			<key>Alpha</key>
			<real>1</real>
			<key>BlendFile</key>
			<string>PSScreen100.png</string>
			<key>CoverType</key>
			<integer>1</integer>
			<key>CutType</key>
			<integer>10</integer>
			<key>PicType</key>
			<dict>
				<key>MaterialFile</key>
				<string>sc2.png</string>
				<key>MaterialFile_vertical</key>
				<string></string>
				<key>PicType</key>
				<integer>0</integer>
			</dict>
			<key>RecognizeType</key>
			<integer>0</integer>
			<key>Type</key>
			<string>MaterialAdapt</string>
		</dict>
		<dict>
			<key>Alpha</key>
			<real>1</real>
			<key>BlendFile</key>
			<string>PSMultiply100.png</string>
			<key>CoverType</key>
			<integer>2</integer>
			<key>CutType</key>
			<integer>1</integer>
			<key>PicType</key>
			<dict>
				<key>MaterialFile</key>
				<string>sc.png</string>
				<key>MaterialFile_vertical</key>
				<string>sp.png</string>
				<key>PicType</key>
				<integer>1</integer>
			</dict>
			<key>RecognizeType</key>
			<integer>0</integer>
			<key>Type</key>
			<string>MaterialAdapt</string>
		</dict>
	</array>
</dict>
</plist>
