<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Action</key>
		<integer>0</integer>
		<key>FacePart</key>
		<array>
			<dict>
				<key>Type</key>
				<string>IF</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>1</string>
				<key>FacemeshParameters</key>
				<string>0.85,0.63;</string>
				<key>FacemeshType</key>
				<integer>2198</integer>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.63</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>FacemeshParameters</key>
				<string>0.70;</string>
				<key>FacemeshType</key>
				<integer>2106</integer>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.70</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>FacemeshParameters</key>
				<string>0.45,0.63,1.00,0.59,0.58,0.89,0.64,0.18,0.10,0.27,0.22,0.20,0.25;</string>
				<key>FacemeshType</key>
				<integer>2195</integer>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.2</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>FacemeshParameters</key>
				<string>1.00;</string>
				<key>FacemeshType</key>
				<integer>2101</integer>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,1.00</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>FacemeshParameters</key>
				<string>0.00,0.0;</string>
				<key>FacemeshType</key>
				<integer>2105</integer>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.45</string>
			</dict>
		</array>
		<key>ID</key>
		<integer>300005</integer>
		<key>Name</key>
		<string>pig</string>
		<key>Sound</key>
		<integer>0</integer>
		<key>SpecialFacelift</key>
		<string>1</string>
	</dict>
</array>
</plist>
