<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>90,0,0,0,255</string>
				<key>Operation</key>
				<integer>1</integer>
				<key>Path</key>
				<string>EyeShadow/35_yyy.png</string>
				<key>Rectangle</key>
				<string>550,453,263,167</string>
				<key>Type</key>
				<string>S</string>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>Gender</key>
				<string>F</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>90,0,0,0,255</string>
				<key>Operation</key>
				<integer>0</integer>
				<key>Path</key>
				<string>EyeShadow/35_yyz.png</string>
				<key>Rectangle</key>
				<string>202,463,263,167</string>
				<key>Type</key>
				<string>S</string>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>Gender</key>
				<string>F</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>30,0,0,0,255</string>
				<key>Operation</key>
				<integer>1</integer>
				<key>Path</key>
				<string>EyeShadow/35_yyy.png</string>
				<key>Rectangle</key>
				<string>550,453,263,167</string>
				<key>Type</key>
				<string>S</string>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>Gender</key>
				<string>M</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>30,0,0,0,255</string>
				<key>Operation</key>
				<integer>0</integer>
				<key>Path</key>
				<string>EyeShadow/35_yyz.png</string>
				<key>Rectangle</key>
				<string>202,463,263,167</string>
				<key>Type</key>
				<string>S</string>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>Gender</key>
				<string>M</string>
			</dict>
		</array>
		<key>ID</key>
		<integer>200004</integer>
		<key>Name</key>
		<string>Unknown</string>
	</dict>
</array>
</plist>
