<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Action</key>
		<integer>0</integer>
		<key>BeautyAlpha_Android</key>
		<integer>20</integer>
		<key>BeautyAlpha_iOS</key>
		<integer>80</integer>
		<key>FacePart</key>
		<array>
			<dict>
				<key>GlossAlpha</key>
				<integer>100</integer>
				<key>LightAlpha</key>
				<integer>100</integer>
				<key>LightColorRGBA</key>
				<string>143,218,251,255</string>
				<key>LipstickMode</key>
				<integer>6</integer>
				<key>ORGBA</key>
				<string>40,210,57,87,255</string>
				<key>TeethWhiten</key>
				<integer>1</integer>
				<key>Type</key>
				<string>MPLIPSTICK</string>
				<key>WhitenDegree</key>
				<string>0.5;</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>4</integer>
				<key>ORGBA</key>
				<string>30,0,0,0,255</string>
				<key>Operation</key>
				<integer>1</integer>
				<key>Path</key>
				<string>805_by.png</string>
				<key>Rectangle</key>
				<string>155,448,698,485</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>4</integer>
				<key>ORGBA</key>
				<string>90,0,0,0,255</string>
				<key>Operation</key>
				<integer>1</integer>
				<key>Path</key>
				<string>631_by.png</string>
				<key>Rectangle</key>
				<string>372,462,262,313</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>4</integer>
				<key>ORGBA</key>
				<string>50,0,0,0,255</string>
				<key>Operation</key>
				<integer>0</integer>
				<key>Path</key>
				<string>805_sh.png</string>
				<key>Rectangle</key>
				<string>83,489,842,360</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>10</integer>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>20,0,0,0,255</string>
				<key>Operation</key>
				<integer>11</integer>
				<key>Path</key>
				<string>805_yyggy.png</string>
				<key>Rectangle</key>
				<string>580,489,83,105</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>10</integer>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>20,0,0,0,255</string>
				<key>Operation</key>
				<integer>10</integer>
				<key>Path</key>
				<string>805_yyggz.png</string>
				<key>Rectangle</key>
				<string>348,494,89,107</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>70,0,0,0,255</string>
				<key>Operation</key>
				<integer>11</integer>
				<key>Path</key>
				<string>805_yzy.png</string>
				<key>Rectangle</key>
				<string>528,448,288,163</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>70,0,0,0,255</string>
				<key>Operation</key>
				<integer>10</integer>
				<key>Path</key>
				<string>805_yzz.png</string>
				<key>Rectangle</key>
				<string>175,454,321,165</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FacemeshParameters</key>
				<string>0.25,0.00,0.00,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2108</integer>
				<key>Type</key>
				<string>Facelift</string>
			</dict>
			<dict>
				<key>FacemeshParameters</key>
				<string>0.30,0.40,0.00,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2110</integer>
				<key>Type</key>
				<string>Facelift</string>
			</dict>
		</array>
		<key>ID</key>
		<integer>0</integer>
		<key>MakeupAlpha</key>
		<integer>100</integer>
		<key>Name</key>
		<string>Unknown</string>
		<key>Sound</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
