<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilterPart</key>
	<array>
		<dict>
			<key>MaterialFile</key>
			<string>1111光斑.png</string>
			<key>Type</key>
			<string>Defocus</string>
			<key>gamma</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>Alpha</key>
			<string>1.0</string>
			<key>LutPath</key>
			<string>1176.png</string>
			<key>Type</key>
			<string>Mapy</string>
			<key>VSPath</key>
			<string></string>
		</dict>
	</array>
	<key>ID</key>
	<integer>1001</integer>
</dict>
</plist>
