<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>Gender</key>
				<string>F</string>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>ORGBA</key>
				<string>75,0,0,0,255</string>
				<key>Operation</key>
				<integer>11</integer>
				<key>Path</key>
				<string>EyeShadow/38_yyy.png</string>
				<key>Rectangle</key>
				<string>548,454,268,176</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>Gender</key>
				<string>F</string>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>ORGBA</key>
				<string>75,0,0,0,255</string>
				<key>Operation</key>
				<integer>10</integer>
				<key>Path</key>
				<string>EyeShadow/38_yyz.png</string>
				<key>Rectangle</key>
				<string>193,454,266,182</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>Gender</key>
				<string>M</string>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>ORGBA</key>
				<string>25,0,0,0,255</string>
				<key>Operation</key>
				<integer>11</integer>
				<key>Path</key>
				<string>EyeShadow/38_yyy.png</string>
				<key>Rectangle</key>
				<string>548,454,268,176</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>Gender</key>
				<string>M</string>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>MakeupCustomName</key>
				<string>MUFACE_EYESHADOW</string>
				<key>ORGBA</key>
				<string>25,0,0,0,255</string>
				<key>Operation</key>
				<integer>10</integer>
				<key>Path</key>
				<string>EyeShadow/38_yyz.png</string>
				<key>Rectangle</key>
				<string>193,454,266,182</string>
				<key>Type</key>
				<string>S</string>
			</dict>
		</array>
		<key>ID</key>
		<integer>200004</integer>
		<key>Name</key>
		<string>Unknown</string>
	</dict>
</array>
</plist>
