<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
		<array>
			<dict>
            	<key>bang</key>
            	<true/>
            	<key>cate_id</key>
            	<string>HC0008</string>
            	<key>cheekbone</key>
            	<string>2</string>
            	<key>face</key>
            	<string></string>
            	<key>face_shape</key>
            	<string>0</string>
            	<key>gender</key>
            	<integer>2</integer>
            	<key>id</key>
            	<string>FX9005</string>
            	<key>index</key>
            	<integer>54</integer>
            	<key>is_almighty</key>
            	<false/>
            	<key>is_curl</key>
            	<false/>
            	<key>is_local</key>
            	<true/>
            	<key>is_login</key>
            	<false/>
            	<key>is_new</key>
            	<false/>
            	<key>is_recommend</key>
            	<false/>
            	<key>is_show_color</key>
            	<false/>
            	<key>is_special</key>
            	<false/>
            	<key>jaw_length</key>
            	<string>0</string>
            	<key>jaw_shape</key>
            	<string>3</string>
            	<key>lang_data</key>
            	<array>
            		<dict>
            			<key>lang_key</key>
            			<string>zh-Hans</string>
            			<key>name</key>
            			<string>干练抓发</string>
            		</dict>
            		<dict>
            			<key>lang_key</key>
            			<string>en</string>
            			<key>name</key>
            			<string>TactfulQuiff</string>
            		</dict>
            		<dict>
            			<key>lang_key</key>
            			<string>zh-Hant</string>
            			<key>name</key>
            			<string>俐落抓髮</string>
            		</dict>
            	</array>
            	<key>length</key>
            	<integer>1</integer>
            	<key>length_sort</key>
            	<integer>4</integer>
            	<key>maxversion</key>
            	<string>99999999</string>
            	<key>minversion</key>
            	<string>0</string>
            	<key>preview</key>
            	<string>http://stage.meitudata.com/beauty-master/0bdf0f8e3029218.jpg</string>
            	<key>side_line</key>
            	<integer>1</integer>
            	<key>zip_url</key>
            	<string></string>
            </dict>
			<dict>
                <key>bang</key>
                <true/>
                <key>cate_id</key>
                <string>HC0005</string>
                <key>cheekbone</key>
                <string>2</string>
                <key>face</key>
                <string></string>
                <key>face_shape</key>
                <string>0,1,2</string>
                <key>gender</key>
                <integer>1</integer>
                <key>id</key>
                <string>FX8092</string>
                <key>index</key>
                <integer>15</integer>
                <key>is_almighty</key>
                <false/>
                <key>is_curl</key>
                <false/>
                <key>is_local</key>
                <true/>
                <key>is_login</key>
                <false/>
                <key>is_new</key>
                <true/>
                <key>is_recommend</key>
                <false/>
                <key>is_show_color</key>
                <true/>
                <key>is_special</key>
                <false/>
                <key>jaw_length</key>
                <string>0,1,2</string>
                <key>jaw_shape</key>
                <string>0</string>
                <key>lang_data</key>
                <array>
                    <dict>
                        <key>lang_key</key>
                        <string>zh-Hans</string>
                        <key>name</key>
                        <string>活力小辫</string>
                    </dict>
                    <dict>
                        <key>lang_key</key>
                        <string>en</string>
                        <key>name</key>
                        <string>LivelyBraid</string>
                    </dict>
                    <dict>
                        <key>lang_key</key>
                        <string>zh-Hant</string>
                        <key>name</key>
                        <string>俏麗小辮</string>
                    </dict>
                </array>
                <key>length</key>
                <integer>2</integer>
                <key>length_sort</key>
                <integer>3</integer>
                <key>maxversion</key>
                <string>99999999</string>
                <key>minversion</key>
                <string>0</string>
                <key>preview</key>
                <string>http://stage.meitudata.com/beauty-master/5b698dd78bea7c1.jpg</string>
                <key>side_line</key>
                <integer>1</integer>
                <key>zip_url</key>
                <string>http://stage.meitudata.com/beauty-master/225265ffed9f800_c.zip</string>
            </dict>
            <dict>
                <key>bang</key>
                <true/>
                <key>cate_id</key>
                <string>HC0005</string>
                <key>cheekbone</key>
                <string>0</string>
                <key>face</key>
                <string></string>
                <key>face_shape</key>
                <string>0,1</string>
                <key>gender</key>
                <integer>1</integer>
                <key>id</key>
                <string>FX8089</string>
                <key>index</key>
                <integer>19</integer>
                <key>is_almighty</key>
                <false/>
                <key>is_curl</key>
                <true/>
                <key>is_local</key>
                <true/>
                <key>is_login</key>
                <false/>
                <key>is_new</key>
                <false/>
                <key>is_recommend</key>
                <false/>
                <key>is_show_color</key>
                <true/>
                <key>is_special</key>
                <false/>
                <key>jaw_length</key>
                <string>0,2</string>
                <key>jaw_shape</key>
                <string>0</string>
                <key>lang_data</key>
                <array>
                    <dict>
                        <key>lang_key</key>
                        <string>zh-Hans</string>
                        <key>name</key>
                        <string>活泼卷发</string>
                    </dict>
                    <dict>
                        <key>lang_key</key>
                        <string>en</string>
                        <key>name</key>
                        <string>SweetCurl</string>
                    </dict>
                    <dict>
                        <key>lang_key</key>
                        <string>zh-Hant</string>
                        <key>name</key>
                        <string>活潑長捲</string>
                    </dict>
                </array>
                <key>length</key>
                <integer>4</integer>
                <key>length_sort</key>
                <integer>2</integer>
                <key>maxversion</key>
                <string>99999999</string>
                <key>minversion</key>
                <string>0</string>
                <key>preview</key>
                <string>http://stage.meitudata.com/beauty-master/7edc861aa468517.jpg</string>
                <key>side_line</key>
                <integer>1</integer>
                <key>zip_url</key>
                <string>http://stage.meitudata.com/beauty-master/3a83df79d2da3fb_c.zip</string>
            </dict>
		</array>
</plist>
