<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>id</key>
			<string>FS0000</string>
			<key>base_img</key>
			<string>FS0000</string>
			<key>color</key>
			<string>#000000</string>
			<key>is_local</key>
			<true/>
			<key>cct</key>
			<integer>1</integer>
			<key>is_dye</key>
			<false/>
			<key>index</key>
			<integer>1</integer>
			<key>lang_data</key>
			<array>
				<dict>
					<key>lang_key</key>
					<string>en</string>
					<key>name</key>
					<string>Black</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>zh-Hans</string>
					<key>name</key>
					<string>黑色</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>zh-Hant</string>
					<key>name</key>
					<string>黑色</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>FS0001</string>
			<key>base_img</key>
			<string>FS0001</string>
			<key>color</key>
			<string>#c4854a</string>
			<key>is_local</key>
			<true/>
			<key>cct</key>
			<integer>1</integer>
			<key>is_dye</key>
			<true/>
			<key>index</key>
			<integer>8</integer>
			<key>lang_data</key>
			<array>
				<dict>
					<key>lang_key</key>
					<string>en</string>
					<key>name</key>
					<string>FlaxGold</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>zh-Hans</string>
					<key>name</key>
					<string>亚麻金</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>zh-Hant</string>
					<key>name</key>
					<string>亞麻金</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>FS0002</string>
			<key>base_img</key>
			<string>FS0002</string>
			<key>color</key>
			<string>#6f4a2f</string>
			<key>is_local</key>
			<true/>
			<key>cct</key>
			<integer>1</integer>
			<key>is_dye</key>
			<false/>
			<key>index</key>
			<integer>4</integer>
			<key>lang_data</key>
			<array>
				<dict>
					<key>lang_key</key>
					<string>en</string>
					<key>name</key>
					<string>HoneyTea</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>zh-Hans</string>
					<key>name</key>
					<string>蜂蜜茶</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>zh-Hant</string>
					<key>name</key>
					<string>蜜蜂茶</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>FS0005</string>
			<key>base_img</key>
			<string>FS0005</string>
			<key>color</key>
			<string>#59413c</string>
			<key>is_local</key>
			<true/>
			<key>cct</key>
			<integer>1</integer>
			<key>is_dye</key>
			<false/>
			<key>index</key>
			<integer>2</integer>
			<key>lang_data</key>
			<array>
				<dict>
					<key>lang_key</key>
					<string>en</string>
					<key>name</key>
					<string>DarkBrown</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>zh-Hans</string>
					<key>name</key>
					<string>黑茶色</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>zh-Hant</string>
					<key>name</key>
					<string>黑茶色</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>FS0006</string>
			<key>base_img</key>
			<string>FS0006</string>
			<key>color</key>
			<string>#9e8582</string>
			<key>is_local</key>
			<true/>
			<key>cct</key>
			<integer>1</integer>
			<key>is_dye</key>
			<true/>
			<key>index</key>
			<integer>11</integer>
			<key>lang_data</key>
			<array>
				<dict>
					<key>lang_key</key>
					<string>en</string>
					<key>name</key>
					<string>FlaxGray</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>zh-Hans</string>
					<key>name</key>
					<string>亚麻灰</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>zh-Hant</string>
					<key>name</key>
					<string>亞麻灰</string>
				</dict>
			</array>
		</dict>

		<dict>
			<key>id</key>
			<string>FS0007</string>
			<key>base_img</key>
			<string>FS0007</string>
			<key>color</key>
			<string>#906e5b</string>
			<key>is_local</key>
			<true/>
			<key>cct</key>
			<integer>1</integer>
			<key>is_dye</key>
			<false/>
			<key>index</key>
			<integer>6</integer>
			<key>lang_data</key>
			<array>
				<dict>
					<key>lang_key</key>
					<string>en</string>
					<key>name</key>
					<string>FlaxBrown</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>zh-Hans</string>
					<key>name</key>
					<string>苦亚麻</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>zh-Hant</string>
					<key>name</key>
					<string>苦亞麻</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>FS0009</string>
			<key>base_img</key>
			<string>FS0009</string>
			<key>color</key>
			<string>#662222</string>
			<key>is_local</key>
			<true/>
			<key>cct</key>
			<integer>1</integer>
			<key>is_dye</key>
			<false/>
			<key>index</key>
			<integer>3</integer>
			<key>lang_data</key>
			<array>
				<dict>
					<key>lang_key</key>
					<string>en</string>
					<key>name</key>
					<string>RedBrown</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>zh-Hans</string>
					<key>name</key>
					<string>红棕色</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>zh-Hant</string>
					<key>name</key>
					<string>紅棕色</string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
