<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>id</key>
			<string>HC0003</string>
			<key>index</key>
			<integer>1</integer>
			<key>lang_data</key>
			<array>
				<dict>
					<key>lang_key</key>
					<string>zh-Hans</string>
					<key>name</key>
					<string>中长</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>en</string>
					<key>name</key>
					<string>long</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>zh-Hant</string>
					<key>name</key>
					<string>中长</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>HC0010</string>
			<key>index</key>
			<integer>2</integer>
			<key>lang_data</key>
			<array>
				<dict>
					<key>lang_key</key>
					<string>zh-Hans</string>
					<key>name</key>
					<string>新年桃花发</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>en</string>
					<key>name</key>
					<string>Flamingo</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>zh-Hant</string>
					<key>name</key>
					<string>新年桃花款</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>ja</string>
					<key>name</key>
					<string>フラミンゴ</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>th</string>
					<key>name</key>
					<string>ฟลามิงโก</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>HC0002</string>
			<key>index</key>
			<integer>3</integer>
			<key>lang_data</key>
			<array>
				<dict>
					<key>lang_key</key>
					<string>zh-Hans</string>
					<key>name</key>
					<string>中短</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>en</string>
					<key>name</key>
					<string>long short</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>zh-Hant</string>
					<key>name</key>
					<string>中短</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>HC0001</string>
			<key>index</key>
			<integer>4</integer>
			<key>lang_data</key>
			<array>
				<dict>
					<key>lang_key</key>
					<string>zh-Hans</string>
					<key>name</key>
					<string>短发</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>en</string>
					<key>name</key>
					<string>short</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>zh-Hant</string>
					<key>name</key>
					<string>短</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>HC0004</string>
			<key>index</key>
			<integer>5</integer>
			<key>lang_data</key>
			<array>
				<dict>
					<key>lang_key</key>
					<string>zh-Hans</string>
					<key>name</key>
					<string>长发</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>en</string>
					<key>name</key>
					<string>long long</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>zh-Hant</string>
					<key>name</key>
					<string>长发</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>HC0008</string>
			<key>index</key>
			<integer>5</integer>
			<key>lang_data</key>
			<array>
				<dict>
					<key>lang_key</key>
					<string>zh-Hans</string>
					<key>name</key>
					<string>潮流日常</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>en</string>
					<key>name</key>
					<string>RoutineFashion</string>
				</dict>
				<dict>
					<key>lang_key</key>
					<string>zh-Hant</string>
					<key>name</key>
					<string>男仕風格</string>
				</dict>
			</array>
		</dict>
        <dict>
            <key>id</key>
            <string>HC0005</string>
            <key>index</key>
            <integer>6</integer>
            <key>lang_data</key>
            <array>
                <dict>
                    <key>lang_key</key>
                    <string>zh-Hans</string>
                    <key>name</key>
                    <string>春夏潮流</string>
                </dict>
                <dict>
                    <key>lang_key</key>
                    <string>en</string>
                    <key>name</key>
                    <string>S/S Trend</string>
                </dict>
                <dict>
                    <key>lang_key</key>
                    <string>zh-Hant</string>
                    <key>name</key>
                    <string>潮流日常</string>
                </dict>
            </array>
        </dict>
	</array>
</plist>
