<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
			<dict>
				<key>FilterType</key>
				<integer>5</integer>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>4</integer>
				<key>ORGBA</key>
				<string>100,255,209,216,255</string>
				<key>Operation</key>
				<integer>1</integer>
				<key>Path</key>
				<string>01_gg.png</string>
				<key>Rectangle</key>
				<string>117,165,752,911</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>8</integer>
				<key>MUType</key>
				<integer>2</integer>
				<key>ORGBA</key>
				<string>40,0,0,0,255</string>
				<key>Operation</key>
				<integer>0</integer>
				<key>Path</key>
				<string>38_mm_zuo.png</string>
				<key>Rectangle</key>
				<string>210,420,256,93</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>9</integer>
				<key>MUType</key>
				<integer>2</integer>
				<key>ORGBA</key>
				<string>40,0,0,0,255</string>
				<key>Operation</key>
				<integer>1</integer>
				<key>Path</key>
				<string>38_mm_you.png</string>
				<key>Rectangle</key>
				<string>547,415,247,94</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>AdditionalTexture</key>
				<string>03_yw_lut.png</string>
				<key>FilterType</key>
				<integer>52</integer>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>100,0,0,0,255</string>
				<key>Operation</key>
				<integer>4</integer>
				<key>Path</key>
				<string>03_ywyy.png</string>
				<key>Rectangle</key>
				<string>356,428,308,222</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>6</integer>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>100,0,0,0,255</string>
				<key>Operation</key>
				<integer>0</integer>
				<key>Path</key>
				<string>38_yy_zuo.png</string>
				<key>Rectangle</key>
				<string>186,458,266,182</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>AddPath</key>
				<string>realtime_mouth_close.png</string>
				<key>AdditionalTexture</key>
				<string>38_z_lut.png</string>
				<key>FilterType</key>
				<integer>51</integer>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>1</integer>
				<key>ORGBA</key>
				<string>80,0,0,0,255</string>
				<key>Operation</key>
				<integer>0</integer>
				<key>Path</key>
				<string>realtime_mouth_open.png</string>
				<key>Rectangle</key>
				<string>360,792,291,132</string>
				<key>SupportOpenMouth</key>
				<integer>1</integer>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>6</integer>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>100,0,0,0,255</string>
				<key>Operation</key>
				<integer>1</integer>
				<key>Path</key>
				<string>38_yy_you.png</string>
				<key>Rectangle</key>
				<string>551,455,268,176</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>100,0,0,0,255</string>
				<key>Operation</key>
				<integer>0</integer>
				<key>Path</key>
				<string>38_jm_zuo.png</string>
				<key>Rectangle</key>
				<string>237,490,196,125</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>4</integer>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>ORGBA</key>
				<string>100,0,0,0,255</string>
				<key>Operation</key>
				<integer>1</integer>
				<key>Path</key>
				<string>38_jm_you.png</string>
				<key>Rectangle</key>
				<string>577,487,194,116</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>FilterType</key>
				<integer>6</integer>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>4</integer>
				<key>ORGBA</key>
				<string>50,0,0,0,255</string>
				<key>Operation</key>
				<integer>0</integer>
				<key>Path</key>
				<string>38_sh.png</string>
				<key>Rectangle</key>
				<string>179,538,657,260</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>AdditionalTexture</key>
				<string>38_GlobalColor.png</string>
				<key>FilterType</key>
				<integer>50</integer>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>MUType</key>
				<integer>8</integer>
				<key>ORGBA</key>
				<string>100,0,0,0,255</string>
				<key>Operation</key>
				<integer>0</integer>
				<key>Rectangle</key>
				<string>0,0,64,64</string>
				<key>Type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>1</string>
				<key>FacemeshParameters</key>
				<string>1.00,0.70;</string>
				<key>FacemeshType</key>
				<integer>2198</integer>
				<key>LiftControlType</key>
				<integer>0</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.7</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>FacemeshParameters</key>
				<string>0.42,0.00,0.00,0.00,0.85,0.00,0.00,0.00,0.90,1.00,0.00,0.52,0.00,0.00,0.00,0.52,0.00,1.00,0.90,0.00,0.00,0.00,0.85,0.00,0.00,0.00,0.00,0.00,0.00,0.18,0.00,0.00,0.00,0.16,0.16,0.00,0.16,0.00,0.00,0.00,0.16,0.00,0.16,0.16,0.00,0.00,0.00,0.18,0.00,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2199</integer>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.53</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>FacemeshParameters</key>
				<string>0.8;</string>
				<key>FacemeshType</key>
				<integer>2400</integer>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.8</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>FacemeshParameters</key>
				<string>0.65;</string>
				<key>FacemeshType</key>
				<integer>2101</integer>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.65</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>ControlRange</key>
				<string>0.5,1.0</string>
				<key>FacemeshParameters</key>
				<string>0.50,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.-71,0.00,-0.80,0.00,0.-71,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.08,0.00,0.36,0.00,0.08,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2199</integer>
				<key>LiftControlType</key>
				<integer>2</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.0,0.45</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>ControlRange</key>
				<string>0.0,0.5</string>
				<key>FacemeshParameters</key>
				<string>0.50,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.57,0.00,1.00,0.00,0.57,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.22,0.00,0.25,0.00,0.22,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2199</integer>
				<key>LiftControlType</key>
				<integer>2</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.5,0.0</string>
			</dict>
		</array>
		<key>Name</key>
		<string>38</string>
	</dict>
</array>
</plist>
