<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefocusId</key>
		<integer>1</integer>
		<key>Lang</key>
		<array>
			<dict>
				<key>lang_key</key>
				<string>en</string>
				<key>name</key>
				<string>Soft focus</string>
			</dict>
			<dict>
				<key>lang_key</key>
				<string>zh</string>
				<key>name</key>
				<string>柔焦</string>
			</dict>
			<dict>
				<key>lang_key</key>
				<string>tw</string>
				<key>name</key>
				<string>柔焦</string>
			</dict>
		</array>
		<key>DefocusLevel</key>
        <integer>80</integer>
        <key>MinLevel</key>
        <integer>40</integer>
        <key>MaxLevel</key>
        <integer>95</integer>
		<key>PreviewRes</key>
		<string>beauty/defocus_thumb/defocus_1.jpg</string>
		<key>StaticsID</key>
		<string>021704001</string>
	</dict>
	<dict>
		<key>DefocusId</key>
		<integer>2</integer>
		<key>Lang</key>
		<array>
			<dict>
				<key>lang_key</key>
				<string>en</string>
				<key>name</key>
				<string>Dynamic</string>
			</dict>
			<dict>
				<key>lang_key</key>
				<string>zh</string>
				<key>name</key>
				<string>动感</string>
			</dict>
			<dict>
				<key>lang_key</key>
				<string>tw</string>
				<key>name</key>
				<string>動感</string>
			</dict>
		</array>
		<key>DefocusLevel</key>
		<integer>50</integer>
		<key>MinLevel</key>
        <integer>0</integer>
		<key>MaxLevel</key>
        <integer>96</integer>
		<key>PreviewRes</key>
		<string>beauty/defocus_thumb/defocus_2.jpg</string>
		<key>StaticsID</key>
		<string>021704002</string>
	</dict>
	<dict>
		<key>DefocusId</key>
		<integer>3</integer>
		<key>Lang</key>
		<array>
			<dict>
				<key>lang_key</key>
				<string>en</string>
				<key>name</key>
				<string>Mosaic</string>
			</dict>
			<dict>
				<key>lang_key</key>
				<string>zh</string>
				<key>name</key>
				<string>马赛克</string>
			</dict>
			<dict>
				<key>lang_key</key>
				<string>tw</string>
				<key>name</key>
				<string>馬賽克</string>
			</dict>
		</array>
		<key>DefocusLevel</key>
		<integer>50</integer>
		<key>MinLevel</key>
        <integer>0</integer>
		<key>MaxLevel</key>
        <integer>50</integer>
		<key>PreviewRes</key>
		<string>beauty/defocus_thumb/defocus_3.jpg</string>
		<key>StaticsID</key>
		<string>021704003</string>
	</dict>
	<dict>
		<key>DefocusId</key>
		<integer>4</integer>
		<key>Lang</key>
		<array>
			<dict>
				<key>lang_key</key>
				<string>en</string>
				<key>name</key>
				<string>Bokeh</string>
			</dict>
			<dict>
				<key>lang_key</key>
				<string>zh</string>
				<key>name</key>
				<string>光斑</string>
			</dict>
			<dict>
				<key>lang_key</key>
				<string>tw</string>
				<key>name</key>
				<string>光斑</string>
			</dict>
		</array>
		<key>DefocusLevel</key>
		<integer>80</integer>
		<key>MinLevel</key>
        <integer>0</integer>
		<key>MaxLevel</key>
        <integer>100</integer>
		<key>PreviewRes</key>
		<string>beauty/defocus_thumb/defocus_4.jpg</string>
		<key>StaticsID</key>
		<string>021704004</string>
	</dict>
	<dict>
		<key>DefocusId</key>
		<integer>5</integer>
		<key>Lang</key>
		<array>
			<dict>
				<key>lang_key</key>
				<string>en</string>
				<key>name</key>
				<string>Radial</string>
			</dict>
			<dict>
				<key>lang_key</key>
				<string>zh</string>
				<key>name</key>
				<string>放射</string>
			</dict>
			<dict>
				<key>lang_key</key>
				<string>tw</string>
				<key>name</key>
				<string>放射</string>
			</dict>
		</array>
		<key>DefocusLevel</key>
		<integer>50</integer>
		<key>MinLevel</key>
        <integer>0</integer>
		<key>MaxLevel</key>
        <integer>10</integer>
		<key>PreviewRes</key>
		<string>beauty/defocus_thumb/defocus_5.jpg</string>
		<key>StaticsID</key>
		<string>021704005</string>
	</dict>
</array>
</plist>
